[Unit]
Description=OLED Display
After=network.target
[Service]
ExecStart=/usr/bin/python3 /root/oled_disp.py
ExecStop=/usr/bin/python3 /root/oled_disp.py stop
WorkingDirectory=/root
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
StartLimitBurst=0
[Install]
WantedBy=multi-user.target

